<!DOCTYPE html>
<html>
<head>
	<title></title>	
	<meta charset="UTF-8">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBukuqbTIlOOkQCvbIu-ejFI_i4IejYPDY&libraries=places,geometry"></script>
    <script language="JavaScript" type="text/javascript" src="script/jquery.js"></script>
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script src="script/c3.min.js"></script>
    <link rel="stylesheet" href="style/map.css">
    <link rel="stylesheet" href="style/c3.css">

    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBqXLYDZOKTwFevZ0tYmlfygoGMB4WW5KE",
            authDomain: "mapapp-1536564037838.firebaseapp.com",
            databaseURL: "https://mapapp-1536564037838.firebaseio.com",
            projectId: "mapapp-1536564037838",
            storageBucket: "mapapp-1536564037838.appspot.com",
            messagingSenderId: "246694470041"
        };
        firebase.initializeApp(config);
    </script>
	
</head>
<body>


	<div id="map-App">
		<div id="map"></div>
		<transition name="fade">	
			<login v-if="(login_seen || !mapReady)">
				<transition name="fade">
					<img width="300" height="300" class="loading_image" v-if="(!login_seen && !mapReady) " src="src/loading.gif">
				</transition>
			</login>
		</transition>	
		<arrow-list></arrow-list>
		<im v-if="input_menu_seen"></im>
		
		<transition name="fade">	
			<contacts v-if="contacts_seen"></contacts>
		</transition>
		<transition name="slide-fade">
			<request-contact v-if="request_contact_seen"></request-contact>
		</transition>	
		<transition name="slide-fade">
			<custom-contact v-if="custom_contact_seen"></custom-contact>
		</transition>


	</div>
	<script src="script/variables.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>	
	<script src="script/vueScript.js"></script>
    <script src="script/firebase.js"></script>
	<script type="text/javascript" src="script/script.js"></script>
	<script src="script/chart.js"></script>
</body>
</html>