html, body {
    color: #000
    !important;
    height: 100%;
    margin: 0;
}

#map {
    
    width: 100%;
    height: 100%;
    float: right;
}

#inputDiv {
    height: 90%;
    width: 25%;
    float: left;
    position: absolute;
    z-index: 1000;
}

#pushValue {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(212,75,56);
    padding: .7em 1.5em;
    outline: none;
}

#pushValue:hover {
    background: rgb(232, 95, 76);
}

#pushValue:active {
    background: rgb(152, 15, 0);
}

#newArrow {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(212,75,56);
    padding: .7em 1.5em;
    outline: none;
}

#newArrow:hover {
    background: rgb(232, 95, 76);
}

#newArrow:active {
    background: rgb(152, 15, 0);
}
#addCustomInfo {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(212,75,56);
    padding: .7em 1.5em;
    outline: none;
}

#addCustomInfo:hover {
    background: rgb(232, 95, 76);
}

#addCustomInfo:active {
    background: rgb(152, 15, 0);
}

.infoFormClassCI {
    padding-top: 8px;
    width: 80%;
}

#pushInfoButton {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(212,75,56);
    padding: .7em 1.5em;
    outline: none;
}

#pushInfoButton:hover {
    background: rgb(232, 95, 76);
}

#pushInfoButton:active {
    background: rgb(152, 15, 0);
}

/*-------------------------------*/

body {  
  background-color:#454545;
}

.container {
  max-width:600px;
  margin:0 auto;
  text-align:center;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  background-color:#FAFAFA;
}

.head {
  -webkit-border-radius:6px 6px 0px 0px;
  -moz-border-radius:6px 6px 0px 0px;
  border-radius:6px 6px 0px 0px;
  background-color:#2ABCA7;
  color:#FAFAFA;
}

h2 {
  text-align:center;
  font-size: 1.4em;
}

input {
  margin-bottom:10px;
}

textarea {
  height:100px;
  margin-bottom:10px;
}

input:first-of-type{    
  margin-top:5px;
}

input, textarea {
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: 'Source Sans Pro',arial,sans-serif;
  border: 1px solid #cecece;
  background: #d7d7d7;
  color:#FAFAFA;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
}

::-webkit-input-placeholder {
   color: #FAFAFA;
}

:-moz-placeholder {
   color: #FAFAFA;  
}

::-moz-placeholder {
   color: #FAFAFA; 
}

:-ms-input-placeholder {  
   color: #FAFAFA;  
}

button {
  margin-bottom:5px;
  background-color:#2ABCA7;
  padding: 12px 45px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #2ABCA7;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
  width:30%;
  color:#fff;
}

.message {
    font-family:'Source Sans Pro',arial,sans-serif;
    font-size:1.1em;
    display:none;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#2ABCA7;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}

#contact {
    position: absolute;
    margin-left: 40%;
    opacity: 1;
    display: none;
    z-index: 51;
}


#customContact{;
    position: absolute;
    margin-left: 40%;
    opacity: 1;
    display: none;
    z-index: 51;
}

#backgroundContact {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 50;
    background-color: rgba(45,51,45, 0.8);
}

.contactInput{
    width: 300px;
}

.searchInput{
    margin-left: 16%;
}

#outputInfo {
    margin-top:15px;
    margin-bottom:25px;
    background-color:#2ABCA7;/*
    padding: 12px 45px;*/
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #2ABCA7;
    -webkit-transition: .5s;
    transition: .5s;
    display: block;
    cursor: pointer;
    width:80%;
    color:#fff;
    margin-left: 16%;
    height: 50%;
    /*padding-right: 16%;*/
    resize: none;
}

/*#outputInfo:hover {
    height: 90%;  
    border-color: #454545;
}*/

.intInput{
    width: 150px;
}

#chart{
    width: 100%;
    background-color: #2ABCA7;
    margin-right: 5px;
    margin-left: 15px;
    display: none;
    z-index: 49;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #d7d7d7;
    background-image: none;
    padding-left: 5px;
}
/* Custom Select */
.select {
    position: relative;
    display: block;
    width: 98%;
    height: 3em;
    line-height: 3;
    background: #d7d7d7;
    overflow: hidden;
    border-radius: .25em;
    margin-left: 5px;
    margin-bottom: 5px;
  }
select {
    height: 100%;
    margin: 0;
    color: #fff;
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #2ABCA7;
    pointer-events: none;
}
/* Transition */
.select:hover::after {
    color: #f39c12;
}

.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.saveselect{
    margin: 0;
}

p {
    text-align: left;
    padding-left: 5px;
    margin: 0%;
}

#submit {
    background-color:#FAFAFA;
    color:#2ABCA7;
}
